.login-page {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.login-page .div {
  background: linear-gradient(180deg, rgba(21.69, 44.77, 52.06, 0.8) 0%, rgba(16.57, 16.93, 25.5, 0.8) 100%);
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid;
  border-color: #000000;
  height: 1542px;
  position: relative;
  width: 1920px;
}

.login-page .div-2 {
  background-color: #0706068c;
  filter: blur(7px);
  height: 256px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.login-page .NMT {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(180deg, rgb(145.76, 143.58, 143.58) 0%, rgba(255, 255, 255, 0) 100%);
  background-clip: text;
  color: transparent;
  font-family: "SF UI Text-Bold", Helvetica;
  font-size: 100px;
  font-weight: 700;
  left: 132px;
  line-height: normal;
  position: absolute;
  text-fill-color: transparent;
  text-shadow: 0px 0px 5px #ffffff40;
  top: 70px;
  white-space: nowrap;
  width: 375px;
}

.login-page .text-wrapper {
  color: #000000;
  letter-spacing: -30px;
}

.login-page .span {
  color: #000000;
  letter-spacing: -23px;
}

.login-page .text-wrapper-2 {
  color: #000000;
  letter-spacing: -17px;
}

.login-page .div-3 {
  color: transparent;
  font-family: "SF UI Text-Bold", Helvetica;
  font-size: 42px;
  font-weight: 700;
  left: 1354px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 105px;
  white-space: nowrap;
  width: 434px;
}

.login-page .text-wrapper-3 {
  color: #787373;
}

.login-page .text-wrapper-4 {
  color: #aa9b9b;
}

.login-page .overlap {
  background-color: #0707078c;
  height: 206px;
  left: 0;
  position: absolute;
  top: 1336px;
  width: 1920px;
}

.login-page .rectangle {
  background-color: #77727221;
  border-radius: 8px;
  height: 86px;
  left: 827px;
  position: absolute;
  top: 60px;
  width: 266px;
}

.login-page .discord {
  height: 48px;
  left: 930px;
  position: absolute;
  top: 81px;
  width: 65px;
}

.login-page .VK-com-logo {
  height: 65px;
  left: 840px;
  object-fit: cover;
  position: absolute;
  top: 71px;
  width: 68px;
}

.login-page .telegram {
  height: 65px;
  left: 1018px;
  position: absolute;
  top: 73px;
  width: 65px;
}

.login-page .text-wrapper-5 {
  color: #787373;
  font-family: "SF UI Text-Bold", Helvetica;
  font-size: 26px;
  font-weight: 700;
  left: 62px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 125px;
  white-space: nowrap;
}

.login-page .text-wrapper-6 {
  color: #787373;
  font-family: "SF UI Text-Bold", Helvetica;
  font-size: 26px;
  font-weight: 700;
  left: 1436px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 125px;
  width: 335px;
}

.login-page .text-wrapper-7 {
  color: #787373;
  font-family: "SF UI Text-Bold", Helvetica;
  font-size: 25px;
  font-weight: 700;
  left: 1436px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 45px;
  width: 424px;
}

.login-page .p {
  color: #787373;
  font-family: "SF UI Text-Bold", Helvetica;
  font-size: 26px;
  font-weight: 700;
  left: 62px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 45px;
  white-space: nowrap;
}

.login-page .rectangle-2 {
  background-color: #0707078c;
  height: 206px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.login-page .overlap-group {
  background-image: url(https://generation-sessions.s3.amazonaws.com/6d9d38ff43e177ee6e117fb5db22273c/img/rectangle-25.svg);
  background-size: 100% 100%;
  height: 874px;
  left: 62px;
  position: absolute;
  top: 359px;
  width: 1790px;
}

.login-page .overlap-2 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/6d9d38ff43e177ee6e117fb5db22273c/img/rectangle-33.svg);
  background-size: 100% 100%;
  height: 874px;
  left: 956px;
  position: absolute;
  top: 0;
  width: 834px;
}

.login-page .div-wrapper {
  background-color: #0202025e;
  border-radius: 10px;
  height: 92px;
  left: 188px;
  position: absolute;
  top: 651px;
  width: 427px;
}

.login-page .text-wrapper-8 {
  color: #fff7f7b8;
  font-family: "SF UI Text-Bold", Helvetica;
  font-size: 35px;
  font-weight: 700;
  left: 168px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 23px;
  width: 97px;
}

.login-page .text-wrapper-9 {
  color: #fff7f7d6;
  font-family: "SF UI Text-Bold", Helvetica;
  font-size: 60px;
  font-weight: 700;
  left: 318px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 34px;
  white-space: nowrap;
  width: 167px;
}

.login-page .text-wrapper-10 {
  color: #d4d4d499;
  font-family: "SF UI Text-Bold", Helvetica;
  font-size: 35px;
  font-weight: 700;
  left: 63px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 237px;
  white-space: nowrap;
  width: 196px;
}

.login-page .rectangle-3 {
  background-color: #7b7b7b;
  border-radius: 6px;
  height: 4px;
  left: 54px;
  position: absolute;
  top: 300px;
  width: 696px;
}

.login-page .text-wrapper-11 {
  color: #d4d4d499;
  font-family: "SF UI Text-Bold", Helvetica;
  font-size: 35px;
  font-weight: 700;
  left: 63px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 385px;
  white-space: nowrap;
  width: 196px;
}

.login-page .don-t-have-on {
  color: transparent;
  font-family: "SF UI Text-Bold", Helvetica;
  font-size: 28px;
  font-weight: 700;
  left: 174px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 786px;
  white-space: nowrap;
  width: 455px;
}

.login-page .text-wrapper-12 {
  color: #857a7a99;
}

.login-page .text-wrapper-13 {
  color: #fffcfc99;
}

.login-page .rectangle-4 {
  background-color: #7b7b7b;
  border-radius: 6px;
  height: 4px;
  left: 54px;
  position: absolute;
  top: 448px;
  width: 696px;
}

.login-page .rectangle-5 {
  background-color: #000000;
  border-radius: 0px 55px 55px 4px;
  height: 100px;
  left: 214px;
  position: absolute;
  top: 280px;
  width: 100px;
}
